.container_head {
    max-width: 100%;
    background: #fff;
    padding: 0rem 5rem;
}

.head_block {
    max-width: 90rem;
    margin: 0 auto;
    padding: 1rem 0rem;
    display: flex;
    justify-content: space-between;
    column-gap: 14rem;
}

.logo_img img{
    width: 3.3rem;
    height: 4rem;
}

.menu_container {
    display: flex;
    align-items: center;
}

.menu_block {
    display: flex;
    flex-wrap: wrap;
    column-gap: 6.25rem;
}

.menu_block li a {
    font-size: 1rem;
    line-height: 3.9rem;
    letter-spacing: 0.6px;
    color: #EECF22;
    transition: color 0.5s;
}

.menu_block li a:hover {
    color: #969696;
}